h1{
  font-size: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  color: #CD1212;
}

.barra {
  display: block;
  color: #CD1212;
  text-align: center;
  padding: 70px 0px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  padding-right: 100px;
}

body {
  background-image: url('images/fondo1.png');
  background-size: cover;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.footer-linkk {
  font-family: 'Bebas Neue', cursive;
  color: #CD1212;
  top: 30%;
  position: relative;
  padding: 20px;
}

.footer-linkk:hover {
  color: #555;
  text-decoration: none;
}

p {
  font-family: 'Work Sans', sans-serif;
  color: #EDEADC;
  font-size: 25px;
}

.logo {
  position: relative;
}

.hero-image {
  background-image: url("../images/fondo1.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #CD1212;
  font-size: 25px;
}

.hero-text button {
  border: none;
  font-family: 'Bebas Neue', cursive;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #EDEADC;
  background-color: #CD1212;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
}

.hero-text button:hover {
  background-color: #555;
  color: #EDEADC;
}

.logopp {
  height: 100px;
  position: absolute;
  left: 10%;
  top: 5%;
}

.barra:hover {
  color: #EDEADC;
  text-decoration: none;
}

.hero-image02 {
  background-image: url("../images/fondo2.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text01 {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-40%, -50%);
  color: #800000;
}

.p01 {
  font-family: 'Work Sans', sans-serif;
  color: #1B1717;
  font-size: 25px;
}

.hero-image03 {
  background-image: url("../images/fondo3.png");
  height: 900px;
  width: 1425px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image04 {
  background-image: url("../images/fondo4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image05 {
  background-image: url("../images/fondo5.png");
  height: 300px;
  width: 1425px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-img {
  position: absolute;
  height: 300px;
  right: 300px;
}

.botoncito {
  border: none;
  font-family: 'Bebas Neue', cursive;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #EDEADC;
  background-color: #CD1212;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}

.botoncito:hover {
  background-color: #555;
  color: #EDEADC;
}

.hero-text04 {
  color: #CD1212;
  text-align: right;
  position: absolute;
  top: 10%;
  left: 80%;
}

.form-group {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.form {
  position: relative;
  left: 0%;
  right: 30% color: #1B1717;
  font-size: 14px;
  border: none;
  margin: none;
  padding: 10px 150px;
}

.buttom-container {
  text-align: center;
  position: relative;
  background-color: #E8E5D8;
}

.footer-text {
  font-size: 30px;
  padding: 100px 60px;
}

.footer-2021 {
  color: #1B1717;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
}

.portafolio-ph {

  padding-top:180px;
  margin: -10px;
}

.short {
  display: block;
  width: 245px;
  height: 200px;
  margin: 25px;
}

.large {
  display: block;
  width: 245px;
  height: 330px;
  margin: 25px;
}

.hero-text03 {
  text-align: left;
  position: absolute;
  top: 5%;
  left: 10%;
  color: #EDEADC;
}

font-family: 'Bebas Neue', cursive;
font-family: 'Work Sans', sans-serif;
